table{
  width: 90%;
  margin: 20px auto;

  td, th{
    width: 25%;
    border: 1px solid #000;
    padding: 5px;
    color: #442288;
  }
}


button{
  display: block;
  margin: auto;
}
.mat-sort-header-container {
  align-items: center;
}
